.node_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.node_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:grab;
  gap: 10px;
  padding: 20px;
  border: 1px solid var(--blue);
  background: white;
  width: 150px;
}

.node_item .text {
  color: var(--blue);
  font-size: 14px;
  font-weight: 550;
}