.toast {
  padding: 16px;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  opacity: 0;
  animation: fade-in 1s forwards;
}

.success {
  background: var(--success);
}

.failure {
  background: var(--failure);
}


@keyframes fade-in {
  to {
    opacity: 1;
  }
}
