.custom_node {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
      0 6px 20px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.connector {
  border-radius: 50%;
  width: 3px !important;
  height: 3px !important;
}

.custom_node .top_section {
  background: rgb(8, 201, 189, 0.7);
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.top_section .title {
  font-size: 8px;
  font-weight: 600;
}

.custom_node .content {
  font-size: 8px;  
  font-weight: 500;
  padding: 10px;
}

.spacer {
  margin-right: auto;
}

