:root {
  --blue: #2620D9;
  --light-gray: #d3d3d3;
  --success: #4caf50;
  --failure: #f44336;
  --shadow: #00000026;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}